/*
 * Colours
 */
/*
 * SCSS (Compass) Mixins 
 */
/*
 * Overrides
 */
body {
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  font-size: 16px;
}



ul {
  text-align: left;
  padding-top: 5px;
  padding-left: 15px;
  list-style-type: none;
  margin-bottom: 0;
}

ul li {
  margin-bottom: 1em;
}

ul li input[type="radio"] + label {
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
}

ul li input[type="radio"] + label:before {
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 12px;
  color: transparent;
  padding: 3px;
  background-color: #d7d7d7;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: 1px;
}

ul li input[type="radio"]:checked + label:before {
  background-color: #4e90a4;
  color: white;
}

input[type="radio"] {
  display: none;
}

.labelForRadios{
  font-weight: 400;
  font-weight: 15px;
}

#profileContent {
  padding-top: 50px;
}

.borderAfterHeading {
  border: 0.4px solid #eee;
}

.inputLabel {
  color: #abcd;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 10px;
}

.profileHeading {
  font-size: 20px;
  font-family: lato, sans-serif, siyamrupali, sans-serif;
  font-weight: 400;
  color: #333;
}

.mobileNumber {
  display: flex;
  justify-content: space-between;
}

.phone-col-2 {
  margin-left: 30px;
  flex-grow: 1;
}

@media screen and (max-width: 636px) {
  .mobileNumber {
    flex-direction: column;
    justify-content: space-between;
  }
  .phone-col-2 {
    margin-left: 0;
    margin-top: 10px;
    flex-grow: 0;
  }
}
.row {
  margin-bottom: 1.5rem;
}
.column,
.columns {
  padding-left: 0;
}

@media print, screen and (min-width: 40em) {
  .columns:last-child:not(:first-child) {
    float: left;
  }
  aside,
  main {
    max-width: 800px;
  }
}
@media print, screen and (min-width: 63em) {
  aside {
    max-width: 600px;
  }
  main {
    max-width: 800px;
  }
}

.profile-content-save-button{
  background-color: #4e90a4; 
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2);  
  border-radius: 1px;
  color: white;
  padding: 13px 35px;
  border: none; 
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  /* margin-left: 46px;  */
  /* margin-bottom: 70px; */
  margin-top: 10px;
  transition: .6s; 

}

.profileHead{
  display: flex; 
  align-items: center
}


.profile-content-save-button:hover,
.profile-content-save-button:active,
.profile-content-save-button:focus {
  background: #086683; 
  outline: none; 
}



/* header {
  background: #fff;
  box-shadow: 3px 2px 20px #bbb;
  padding: 2rem;
  text-align: center;
} */
.panel {
  background: #fff;
  color: #444;
  /* box-shadow: 3px 2px 20px #bbb; */
  padding: 2rem;
  margin: 1rem;
}
aside .panel {
  background: #f8f8f8;
}
.side-wrap p,
.side-wrap ul {
  font-size: 1rem;
  color: #444;
  line-height: 1.3rem;
}
/*
 * Custom Classes
 */
.relative {
  position: relative;
}
.centered {
  margin: auto;
  max-width: 1200px;
}
/* Forms */
[type="color"],
[type="date"],
[type="datetime-local"],
[type="datetime"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea {
  margin: 0 0 0.3rem;
}
label {
  color: #444;
  margin-bottom: 0.4rem;
}
label.is-invalid {
  color: #f02;
}
input {
  font-size: 1rem;
  color: #999;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 0 0 0 1rem;
  height: 2rem;
  width: calc(100% - 1rem);
  -webkit-box-shadow: inset 0 0 1px #bbb;
  -moz-box-shadow: inset 0 0 1px #bbb;
  box-shadow: inset 0 0 1px #bbb;
  background: transparent;
}
input[type="color"] {
  width: 100px;
  height: 100px;
}
textarea {
  height: 5rem;
  padding-top: 0.5rem;
}
select,
input {
  height: 3rem;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #999;
  font-size: 0.8rem;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #999;
  font-size: 0.8rem;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #999;
  font-size: 0.8rem;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #999;
  font-size: 0.8rem;
}
/* Icons */
.hide {
  display: none;
}
.icon.validation {
  width: 13px;
  height: 13px;
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  font-size: 0.4rem;
  text-align: center;
  line-height: 0.9rem;
  color: #fff;
}
.icon.success {
  background: #0a1;
}
.icon.error {
  background: #f02;
}
.success {
  color: #0a1;
}
/* Fields */
.input-wrap.is-invalid input,
.input-wrap.is-invalid select,
.input-wrap.is-invalid textarea {
  border: 1px solid #f02;
}
/* Helper/Error */
.is-helpful {
  color: #999;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.is-helpful.error-message {
  color: #f02;
}
